body {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.navbar {
    background-color: #F5F7FF;
    max-width: 220px;
    min-width: 220px;
    height: 100vh;
    overflow: hidden;
    flex-wrap: nowrap;
}

.welcome-text {
    color: #757575;
    font-size: 14px;
    line-height: 0px;
    font-weight: 400;
}

.parent-name {
    color: #757575;
    font-size: 16px;
    line-height: 20px;
}

.btn-light {
    background-color: #ECEFF7;
}

.btn-light:focus {
    background-color: #6D34E0;
    outline: none;
    box-shadow: none;
}

.nav-menu-btn {
    width: 45px;
    height: 45px;
}

a:focus .btn-light {
    background-color: #6D34E0;
    outline: none;
    box-shadow: none;
}

a:focus svg path {
    stroke: white;
}

a:focus svg ellipse {
    stroke: white;
}

a:hover p {
    color: #989898;
}

a:focus p {
    color: #333333;
}

.btn-light:focus svg path {
    stroke: white;
}

.btn-light:focus svg ellipse {
    stroke: white;
}

.btn-light:hover {
    background-color: #ECEFF7;
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
    transform: translateY(-0.25em);
    cursor: pointer;
    transition: 0.75s;
}

.btn-light:active {
    transform: translateY(0.2em);
    transition: 0.25s;
}

.btn-light:active svg path {
    stroke: #6D34E0;
}

.btn-light:hover svg path {
    stroke: #6D34E0;
}

.btn-light:focus ~ p {
    color: #333333;
}

.btn-text {
    font-size: 10px;
}

.text-category {
    font-size: 12px;
    color: #333333;
}

svg {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #6D34E0;
}

.children-details-list {
    overflow-y: auto;
    max-height: 100vh;
}

.detail-heading {
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

.children-details-card {
    background-color: #F7F3FF;
    border-radius: 5px;
}

.detail-title {
    color: #333333;
    font-size: 12px;
}

.children-detail-pic {
    object-fit: cover;
    height: 100px;
    width: 100px;
    /* max-width: 100%; */
}

.children-fullname {
    color: #333333;
    font-size: 24px;
}

.children-nickname {
    color: #c5c5c5;
    font-size: 15px;
}

.children-detail-subtitle {
    color: #c5c5c5;
    font-size: 15px;
}

.children-detail-info {
    color: #333333;
    font-size: 24px;
}

.img-overlay-wrap {
    position: relative;
    display: inline-block;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 71px;
    left: 71px;
}

.btn-send, .btn-send:focus {
    background-color: #6D34E0;
    border-radius: 5px;
    align-items: center;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 8px;
    font-weight: 700;
}

.btn-send:hover {
    background-color: #6D34E0;
    border-color: #6D34E0;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
    transform: translateY(-0.25em);
    cursor: pointer;
    transition: 0.75s;
}

.btn-view-child-profile, .btn-view-child-profile:focus {
    background-color: #FFB84C;
    border-radius: 5px;
    font-size: 8px;
    color: #fff;
    font-weight: 700;
}

.btn-view-child-profile:hover {
    background-color: #FFB84C;
    border-color: #FFB84C;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
    transform: translateY(-0.25em);
    cursor: pointer;
    transition: 0.75s;
}

.btn-take-test, .btn-take-test:focus {
    background-color: #F7F3FF;
    border: 2px solid #6D34E0;
    border-radius: 5px;
    font-size: 8px;
    color: #6D34E0;
    width: 100%;
}

.btn-take-test:hover {
    background-color: #F7F3FF;
    color: #6D34E0;
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
    transform: translateY(-0.25em);
    cursor: pointer;
    transition: 0.75s;
}

.btn-send:active, .btn-view-child-profile:active, .btn-take-test:active {
    transform: translateY(0.2em);
    box-shadow: none;
    outline: none;
    transition: 0.25s;
}

.test-result-card {
    border-radius: 5px;
    background-color: #fff;
}

.main-group {
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 48%;
}

.test-result-detail {
    font-size: 10px;
}

hr {
    background-color: #f0f0f0;
    border: none;
    height: 2px;
}

/* this is dekstop first */