body{
    background-color: #F9FAFC;
    font-family: 'Mulish';
}

/* Full Assessment Test Page */
.header{
    color:#ffffff;
    background-color: #6D34E0;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    display: flex;
    font-weight: 700;
}

.question-title{
    color:#333333;
    background-color: #F7F3FF;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-weight: 700;
}

.editing-question{
    color:#333333;
    background-color: #F7F3FF;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: justify;
}

.answer{
    color:#333333;
    background-color: #F7F3FF;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-weight: 700;
}

.answer:hover{
    cursor: pointer;
}

.answer input[type="radio"]{
    display:none;
}

/* End Full Assessment Test Page */

.btn{
    padding: 10px 50px;
    border-radius: 8px;
}

.btn-prev{
    background-color: #F3F3F3;
    border: 1px solid #6D34E0;
    color:#6D34E0;
}

.btn-prev:hover{
    background-color: #F3F3F3;
    color:#6D34E0;
}

.btn-next, .submit-btn{
    background-color: #6D34E0;
    color: #ffffff;
}

.btn-next:hover, .submit-btn:hover{
    background-color: #6D34E0;
    color: #ffffff;
}

.grey{
    color:#ABABAB;
}

.red{
    color: #f55d42;
}

.blue{
    color:#4EB7B5;
}

.none{
    display:none;
}

/* Result Summary Page */
.line{
    border:0.5px solid #E6E6E6;
}

.topic{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.topic-title{
    font-weight: 700;
    color: #333333;
    font-style: normal;
    font-weight: 700;
}

/* Score Section */
.score-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px 20px 20px 20px;
}
.score-title{
    color: #4EB7B5;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.score{
    color: #4EB7B5;
    font-style: normal;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 20px;
}

.correct-answer{
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}

.progress-bar-circle {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
}
  
svg {
  height: 100px;
  width: 150px;
  fill: none;
  stroke: #7DD740;
  stroke-width: 13;
  stroke-linecap: round;
 
}

.vr{
    border: 1px solid #E6E6E6;
    padding : 0;
    height: 150px;
    align-self: center;
}

/* Recommendations */
.recommendation-title{
    color: #333333;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.recommendation-program{
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 100%;
    min-height: 220px;
}

.recommendation-table a{
    text-decoration: none;
    color:#333333;
}

.program-image{
    width: 25px;
    height: 25px;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    margin-right: 10px;
}

.table-header{
    font-size: 12px;
    font-weight: 700;
}

.table-body{
    font-size: 14px;
    font-weight: 700;
}

.discounted{
    text-decoration: line-through;
    color:#FF0000;
}

.star{
    color: #FFB800;
    font-size: 10px;
}

.recommendation-product{
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 100%;
    min-height: 220px;
}

.product{
    display: flex;
}

.product-image{
    max-width: 150px;
}

.product-details{
    font-weight: 700;
    font-style: normal;
}

.product-details p{
    margin-bottom: 0;
}

.product-name{
    font-size: 16px;
    font-weight: 700;
}

.product-author{
    font-size: 14px;
    font-weight: 700;
    color:#5158F5;
}

.rating-amount{
    color: #D1D1D1;
    font-size: 14px;
}

.buy-btn{
    border:1px solid #D1D1D1;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 10px;
    color: #959595;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #6D34E0 !important;
}

.carousel-indicators [data-bs-target] {
    width: 7px;
    height: 7px;
    background-color: grey;
    border-radius: 50%;
}

.carousel-indicators{
    bottom:-42px;
}


@media (max-width:768px){
    .recommendation-section{
        width: 100%;
    }
}

@media (min-width:992px){
    .recommendation-section{
        width: 37%;
    }
}


@media (max-width: 992px){
    .vr{
        display: none;
    }

    .recommendation-title{
        margin-top:20px
    }
}

